body {
    background-color: white;
}
.clear {
    clear: both;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(233, 95, 3);
}
h5 {
    text-transform: uppercase;
}
.container {
    background-color: white;
    padding: 0px;
    /* padding-top: 20px; */
}
.main-content {
    padding: 20px 15px;
}
.header-logo {
    display: inline-block;
    float: left;    
}
.header-menu {
    float: left;
}
.dropdown-menu {
    display: none;
}
.dropdown {
    float: left;
    margin-left: 25px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.box{
    float: right;
}
.main-1 {
    width: 750px;
    float: left;
    border: 1px solid lightgrey;
}
.left {
    padding: 18px;
}
.image {
    float: left;
    margin-bottom: 25px;
}
.image img{
    width: 714px;
    height: 405px;
}
.button {
    background-color: white;
    border: 1px solid lightgray;
}
.main-right, .main-right-top {
    display: inline-block;
    width: 390px;
    padding-left: 15px;
    margin-bottom: 20px;
    float: left;
}
.border-1 {
    padding: 15px 15px;
    border: 1px solid rgb(230, 229, 229);
}
h6 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.right {
    padding-bottom: 15px;
}
.img{
    float: left;
}
.product {
    float: left;
    margin-left: 15px;
    width: 210px;
}
.the_a {
    font-weight: bold;
    font-size: 17px;
}
#last {
    background-color:  rgb(240, 239, 239);
    margin: 0 auto;
    margin-top: 40px;
}
#footer-top {
    padding: 75px 75px;
}
.cen-1 {
    margin: 0;
    margin-bottom: 5px;
}
.icon-bottom {
    font-size: 25px;
    padding-right: 10px;
}
.title {
    padding-bottom: 10px;
}
.input {
    margin-bottom: 20px;

}
.submit {
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px 25px;
    font-weight: bold;
}
